.point-index-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 5px;
}
.point-index-item * {
  box-sizing: border-box;
}
.point-index-item > p {
  margin: 0;
  padding: 5px 10px;
  text-align: right;
}
.point-index-item > input,
.point-index-item > select {
  border-radius: 0;
  width: 100%;
  height: 100%;
}
